/* BASE SETTINGS */
* {
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    color: #fae4e4;
}
body {
    background-color: #1c1f26;
}

body > .container {
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: #a3c8ea;
}

.button {
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #292d34;
    color: #a3c8ea;
}

.button:hover {
    background-color: #789ede;
    color: #fff;
    transition: .2s;
}

/* HEADER AND NAVIGATION */
.header {
     background-color: #383b44;
}

.header .container {
     width: 100%;
     height: 5rem;
}

.header .container li {
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
}

/* MAIN CONTENT */
.post {
    background-color: #292d34;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

.dot { /* Switch page button */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #292d34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot:hover {
    background-color: #789ede;
    color: #fff;
    transition: .2s;
}

.current { /* Current page */
    background-color: #292d34;
    padding: 10px 25px 10px 20px;
    border-radius: 20px;
}

.message {  /* Error/Success django-login message */
    width: 100%;
    background-color: #79787e;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
}

/* TAGS */
span.tag {
    color: #e7f0f6;
    background-color: #789ede;
    padding: 4px 15px 4px 15px;
    border-radius: 20px;
}

/* SEARCH */
.search > form {
    display: flex;
    justify-content: center;
}

/* Search input */
#id_search_query {
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    width: 50%;
    background-color: #383b44;
}
#id_search_query:focus {
    outline: none;
    color: #fff;
}
#id_search_query[placeholder] {
    color: #fff;
}

/* Forms styles for create_post and create_comments */
p > textarea {
    resize: none;
    margin-top: 20px;
}

.create_post > p > textarea {
    width: 90%;
    height: 100px;
}

.form > p > input, textarea, select {
    background-color: #383b44;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

.create_comment > p > textarea {
    width: 40%;
    height: 200px;
}
