<div style="display: flex;
            align-items: center;
            justify-content: center" class="pagination">

    {% if page.has_previous %}
        <a style="font-size: 20px; margin-right: 10px;" href="?page={{ page.previous_page_number }}">
            <span class="dot"> < </span>
        </a>
    {% endif %}

    <span class="current">
        Страница {{ page.number }} из {{ page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
        <a style="font-size: 20px; margin-left: 10px;" href="?page={{ page.next_page_number }}">
            <span class="dot">
                >
            </span>
        </a>
    {% endif %}

</div>