{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock title %}

{% block main %}

    <h1>{{ post.title }}</h1>
    <p>Автор: <a href="{% url 'user_page' user_id=post.author.id %}">{{ post.author }}</a>, {{ post.publish }}</p>
    <hr />
    <p>{{ post.text }}</p>
    <a href="{% url 'post_share' post_id=post.id %}">Поделиться</a>

    <h2>Комментарии</h2><br>



    <div class="comments">
        {% for comment in comments %}
            {% if comment.is_active %}
                <h4>{{ comment.author }}</h4> {{ comment.created }}
                <p>{{ comment.text }}</p>
            {% endif %}
        {% endfor %}

    </div>

{% endblock main %}