{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock title %}

{% block main %}

    <h1>{{ post.title }}</h1>
    <p>Автор: <a href="{% url 'user_page' user_id=post.author.id %}">{{ post.author }}</a>, {{ post.publish }}</p>
    <hr />
    {% if tags %}
        {% for tag in tags %}
            <a href="tag/{{ tag.slug }}" class="tag_a">
                <span class="tag">#{{ tag }}</span>
            </a>
        {% endfor %}
    {% endif %} 
    <p>{{ post.text }}</p>


    {% if similar_posts %}
        <h2>Возможно, вам понравится</h2>
        <hr/>
        {% for similar_post in similar_posts %}
            <div><a href="{{ similar_post.get_absolute_url }}">{{ similar_post }}</a></div>
        {% endfor %}
    {% endif %}


    <h2>Оставить комментарий</h2>
    <hr/>
    {% if current_user.is_authenticated %}
        <form method="post">
            <div class="create_comment">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="button" value="Отправить">
            </div>
        </form>
    {% else %}
        <p><a href="{% url 'logout_page' %}">Войдите</a>, чтобы оставлять комментарии</p>
    {% endif %}

    <div class="comments">
        {% for comment in comments %}
                <h4><a href="{% url 'user_page' user_id=comment.author.id %}">{{ comment.author }}</a></h4> {{ comment.created }}
                <p>{{ comment.text }}</p>
        {% endfor %}
    </div>

{% endblock main %}